
<input type="text" [value]="taskService.teamName" (input)="changeName($event.target.value) ">
<div>
  <button (click)="taskService.clearCookie()">清除資料</button>
</div>
<div>
  當前回合：{{taskService.currentRound.roundID}}
  <br>
  當前秒數：{{countDown | countdown}}
  <br>
  {{taskService.config | json}}
</div>
<div>當前資訊
  {{ taskService.currentRound | json }}
</div>
<div>
  <div>chart Point: </div>
  <div>28</div>
  <div>24</div>
  <div>22</div>
  <ng-container  *ngFor="let item of taskService.rounds | slice:0:taskService.currentRound.roundID-1">
    <div *ngIf="item.point > 0"> {{item.point}}</div>
  </ng-container>
</div>
<ul>
  <li>RO: {{taskService.memberEng.get(Worker.RO)}}</li>
  <li>CFO: {{taskService.memberEng.get(Worker.CFO)}}</li>
  <li>RD: {{taskService.memberEng.get(Worker.RD)}}</li>
  <li>CM: {{taskService.memberEng.get(Worker.CM)}}</li>
  <li>LE: {{taskService.memberEng.get(Worker.LE)}}</li>
  <li>ITSUPORT: {{taskService.memberEng.get(Worker.ITSUPORT)}}</li>
  <li>TO: {{taskService.memberEng.get(Worker.TO)}}</li>
</ul>
<div>
  <div>chart Amount: </div>
  <div>19000</div>
  <div>15000</div>
  <div>11000</div>
  <ng-container  *ngFor="let item of taskService.rounds | slice:0:taskService.currentRound.roundID-1">
    <div *ngIf="item.amount > 0"> {{item.amount}}</div>
  </ng-container>
</div>
<button *ngIf="!taskService.currentRound.isPlanDone" (click)="doPlan()">do Plan</button>
<button *ngIf="!taskService.currentRound.isWorkDone && taskService.currentRound.isPlanDone" (click)="doWork()">do Work</button>
<a [routerLink]="[ '/scanner' ]" *ngIf="taskService.currentRound.isPlanDone && taskService.currentRound.isWorkDone">計分</a>
<button *ngIf="taskService.currentRound.isPlanDone && taskService.currentRound.isWorkDone" (click)="nextRund()">nextRund</button>

<mat-card class="example-card"  *ngIf="taskService.currentRound.roundID>1" >
  <mat-card-header>
    <mat-card-title>
      <span class="project-info">專案項目:{{taskService.trainingConfig.name}}</span>
      <span class="project-info" [class.final]="taskService.trainingConfig.done">完成狀態:{{taskService.trainingConfig.done}}</span>
      <span class="project-info" [class.final]="taskService.trainingConfig.final">結案:{{taskService.trainingConfig.final}}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let task of taskService.trainingConfig.taskList" >
        <button (click)="done(task.id)" *ngIf="!taskService.trainingConfig.final">V</button>
        <button (click)="remove(task.id)" *ngIf="!taskService.trainingConfig.final">X</button>
        <span class="project-info">任務id:{{task.id}}</span>
        <span class="project-info">任務名稱:{{task.name}}</span>
        <span class="project-info">任務者:{{task.worker}}</span>
        <span class="project-info">點數:{{task.point}}</span>
        <span class="project-info" [class.final]="task.final">任務狀態:{{task.final}}</span>
      </mat-list-item>
     </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="taskService.trainingConfig.done && !taskService.trainingConfig.final" (click)="taskService.close(taskService.trainingConfig, taskService.currentRound)">
      結案
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card"  *ngFor="let project of taskService.projectList"  >
  <mat-card-header>
    <mat-card-title>
      <span class="project-info">專案項目:{{project.name}}</span>
      <span class="project-info" [class.final]="project.done">完成狀態:{{project.done}}</span>
      <span class="project-info" [class.final]="project.final">結案:{{project.final}}</span>
      <span class="project-info" *ngIf="project.config ">所需設定:{{project.config | json}}
        <button (click)="done('config0'+project.config.config)">config</button>
        <button (click)="done('server0'+project.config.server)">server</button>
        <button (click)="done('proxy0'+project.config.proxy)">proxy</button>
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let task of project.taskList" >
        <button (click)="done(task.id)" *ngIf="!project.final">V</button>
    <button (click)="remove(task.id)" *ngIf="!project.final">X</button>
    <span class="project-info">任務id:{{task.id}}</span>
    <span class="project-info">任務名稱:{{task.name}}</span>
    <span class="project-info">任務者:{{task.worker}}</span>
    <span class="project-info">點數:{{task.point}}</span>
    <span class="project-info" [class.final]="task.final">任務狀態:{{task.final}}</span>
      </mat-list-item>
     </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="project.done && !project.final" (click)="taskService.close(project, taskService.currentRound)">
      結案
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="primary">Hello World！</button>
